*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 50px;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100%;
}
#main_menu{
background: #1b1464;
}
#main_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
#main_menu ul li {
    display: inline-block;
    position: relative;
}
#main_menu ul li a{
    text-transform: capitalize;
    display: block;
    padding:12px 15px;
    text-decoration: none;
    color: #fff;
   
}
#main_menu ul li a:hover{
    color:#1b1464;
    background: #000;
}

/* dropdown menu style */
#main_menu ul li ul{
    position: absolute;
    left: 10px;
    top: 32px;
    background-color: #5758bb;
    width: 200px;
    display: none;
   
}
#main_menu ul li:hover ul {
    display: block;
   
}
#main_menu ul li ul li{
    display: block;
}

#main_menu ul li ul li a:hover{
    background: #192a56;
}
#main_menu ul li:hover a{
    background: #0652dd
}
#main_menu ul li:hover li a{
    background: #5758bb
}